.about {
  padding-bottom: 5em;
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    &-label {
      flex-basis: 20%;
      text-transform: uppercase;
      line-height: 1.8rem;
    }
    .title {
      color: $black-2;
      font-size: 0.8rem;
    }
    &-inner {
      flex-basis: 80%;
      margin-bottom: 2em;

      h3 {
        margin-top: 5px;
        color: $black-2;
      }
      .tag {
        background-color: $green-1;
        margin-right: 5px;
        margin-top: 5px;
        padding: 2px 5px;
        font-size: 1.2rem;
        display: inline-flex;
      }
    }

    @media (--small) {
      flex-direction: column;
      .title {
        font-size: 1.5rem;
        color: $black-1;
      }
    }

  }
}