include source/_nav

header.header-main
    .container
        .header
            .header__logo
                h1 Чернов Сергей
                span.profession front-end developer
            nav.header__right(role="navigation")
                +renderNav
