-
    projectJSON = [
        {
            name: 'Aori',
            desc: 'В рамках работы в компании Axeta, сверстал адаптивный landing для компании Aori',
            img: 'img/aori.jpg',
            link: '',
            tags: ['Axeta', 'bootstrap', 'PhotoShop', 'less']
        },
        {
            name: 'tcvn',
            desc: 'В рамках работы в компании Axeta, сверстал адаптивный landing для компании TCVN',
            img: 'img/tcvn.jpg',
            link: '',
            tags: ['Axeta', 'bootstrap', 'PhotoShop', 'less']
        },
        {
            name: 'sv-logistic',
            desc: 'Сверстал адаптивный и встроил в CMS сайт для логистической компании SVLOGISTIC. ' +
            'Один из самых сложных проектов. Сайт состоит из двух шаблонов и 12 уникальных страниц.',
            img: 'img/sv-log.jpg',
            link: '//sv-log.ru',
            tags: ['freelance', 'gulp', 'jade', 'SASS', 'PhotoShop', 'WordPress']
        },
        {
            name: '2017.illusion.ru',
            desc: 'Новогодняя игра от сети кинотеатров "Иллюзион". Реализовал весь цикл разработки.<br/> Проект состоит из трёх частей: <ul>' +
            '<li>Лэндинг для клиента <li>Личный кабинет участника акции <li>Кабинет администратора акции</ul>',
            img: 'img/2017.jpg',
            link: '//2017.illusion.ru',
            tags: ['freelance', 'gulp', 'bootstrap', 'Yii2', 'SASS']
        },
        {
            name: 'Эталон недвижимость',
            desc: 'В рамках работы в компании WebSee, сверстал и втсроил в CMS сайт для компании «ЭТАЛОН НЕДВИЖИМОСТЬ»',
            img: 'img/etalon.jpg',
            link: '//etalon-ndv.ru',
            tags: ['WebSee', 'MODx', 'PhotoShop', 'less']
        },
        {
            name: 'ОАО «КВЭН»',
            desc: 'В рамках работы в компании WebSee, сверстал и втсроил в CMS сайт для компании ОАО «КВЭН»',
            img: 'img/kven.jpg',
            link: '//kven.info',
            tags: ['WebSee', 'MODx', 'PhotoShop', 'less']
        },
        {
            name: 'Международный Аэропорта Владивосток',
            desc: 'В рамках работы в компании WebSee, дорабатывал сайт международного Аэропорта Владивосток.<br/>' +
                'Что сделал именно я: <ul><li>Генерация PDF файла с информацией о рейсе ' +
                '<li>Вёрстка блока "Услуги" <li>Небольшой рефакторинг</ul>',
            img: 'img/vvo.jpg',
            link: '//vvo.aero/',
            tags: ['WebSee', 'MODx', 'PDFlib']
        },
        {
            name: 'IHI',
            desc: 'В рамках работы в компании Axeta, фиксил баги и добавлял новые модули в тендеровую площадку IHI. ' +
            'Система спроектирована в виде многомодульного SPA.',
            img: 'img/ihi.png',
            link: '//ihi.ru',
            tags: ['Axeta', 'Yii2', 'Marionette.js']
        },
        {
            name: 'Tower Defence',
            desc: 'Игра в жанре Tower Defence. Всегда мечтал написать такую игру. И в три прекрасный дня я это сделал. ' +
            'В будущем планирую допилить, но по хард кору - сойжёт и так:)',
            img: 'img/td.jpg',
            link: '//ihi.ru',
            tags: ['Эксперимент', 'JS', 'Canvas']
        },
        {
            name: 'Размерность фрактала',
            desc: 'В рамках одного из предмета магистратуры, реализовал программу по расчёту размерности фрактала Жюлиа.',
            img: 'img/julia.jpg',
            link: '//ihi.ru',
            tags: ['Эксперимент', 'JS', 'Canvas', 'd3js']
        },
        {
            name: 'Учим английские слова',
            desc: 'Благодаря этому веб-приложению Вы можете вести собственный словарь английских слов. ' +
            'А благодаря алгоритму вывода слов - можно с лёгкостью запоминать значения ',
            img: 'img/en.jpg',
            link: '//ihi.ru',
            tags: ['Эксперимент', 'Yii2', 'materialize.css']
        }
    ]

-
    filter = [
        {
            label: 'Все',
            data: 'All'
        },
        {
            label: 'Эксперименты',
            data: 'exp'
        },
        {
            label: 'Freelance',
            data: 'exp'
        },
        {
            label: 'WebSee',
            data: '1'
        },
        {
            label: 'Axeta',
            data: '2'
        }
    ]