include _tmpl

+tmpl('contact')
    h2 Контакты
    .contact__list
        p Если у вас есть ко мне интересное предложение, или какие-то вопросы, то я полностью открыт к общению:
        p
            a(href="mailto:chernov.net@ya.ru") chernov.net@ya.ru
        p
            a(href="//github/sosed", target="_blank") Гитхаб
        p
            a(href="//vk.com/muhavik", target="_blank") ВКонтакте
    .copyright
        p &copy; 2017&nbsp;
            a(href="//chernov-sergey.ru") Чернов Сергей