include _tmpl

+tmpl('contact')
    h2 Контакты
    .contact__list
        p Если у вас есть ко мне интересное предложение, или какие-то вопросы, то я полностью открыт к общению:
        ul
            li Email:
                a(href="mailto:chernov.net@ya.ru") chernov.net@ya.ru
            li GitHub:
                a(href="//github.com/sosed", target="_blank") github/sosed
            li VK:
                a(href="//vk.com/muhavik", target="_blank") vk/chernov-sergey
    .copyright
        p &copy; 2017&nbsp;
            a(href="//chernov-sergey.ru") Чернов Сергей