include _tmpl
include source/_project

mixin projectAbout(item)
    .project__item
        a.project__item-thumb(href= item.link)
            img(src= item.img)
            .handler
                .desc!= item.desc
                .tags
                    for tag in item.tags
                        span= tag

mixin filter(item)
    li
        a(href='#')= item.label
+tmpl('project')
    .project__holder
        .title
            h2 Портфолио
        .project__filter
            ul.project__filter-list
                for item in filter
                    +filter(item)

    .project__list
        for item in projectJSON
            +projectAbout(item)




