include _tmpl
include source/_project

mixin projectProject(item)
    .project__item.js-filter-item.active(data-category= item.category)
        a.project__item-thumb(href= item.link)
            img(src= item.img)
            .handler
                .desc!= item.desc
                .tags
                    for tag in item.tags
                        span= tag

mixin filter(item)
    li
        a.js-filter-category(href='javascript:void(0)', data-category= item.category)= item.label


+tmpl('project')
    .project__holder
        .title
            h2 Портфолио
            p За всё время мне удалось поработать в двух компаниях - #[a(href="//websee.ru") WebSee] и #[a(href="//axeta.ru") Axeta].
                | Сейчас мои требования к архитектуре и вёрстке проектов совсем другие, чем в большинстве моих проектах.
            p Более подробное портфолио предоставляю по запросу.
        .project__filter
            ul.project__filter-list
                for item in filter
                    +filter(item)

    .project__list
        for item in projectJSON
            +projectProject(item)
    br(style="clear: both;")




