-
    navJSON = [
        {
            label: 'Обо мне',
            url: '#about'
        },
        {
            label: 'Портфолио',
            url: '#portfolio'
        },
        {
            label: 'Контакты',
            url: '#contacts'
        }
    ]

mixin renderItem(item)
    li.nav__item
        a.go-to(href= item.url)= item.label

mixin renderNav
    ul.nav
        for item in navJSON
            +renderItem(item)