extend layouts/main

block title
    title Главная страница

block content
    include sections/home
    include sections/about
    include sections/projects
    include sections/contact
    //include sections/resume
